<nav class="level" *ngIf="auth.user | async as user">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">JAN Allocated Income</p>
        <p class="title">{{user.obligationsTotal | currency:'USD':true:'1.2'}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">JAN Planned Spend</p>
        <p class="title">{{user.obligationsScheduledTotal | currency:'USD':true:'1.2'}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
          <p class="heading">JAN Actual Spend</p>
          <p class="title">{{user.obligationsToDateTotal | currency:'USD':true:'1.2'}}</p>
        </div>
      </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Allocated less Planned</p>
        <p class="title">{{user.obligationsTotal - user.obligationsScheduledTotal | currency:'USD':true:'1.2'}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Allocated less Actual</p>
        <p class="title">{{user.obligationsTotal - user.obligationsToDateTotal | currency:'USD':true:'1.2'}}</p>
      </div>
    </div>
  </nav>
