<div class="container">
  <div class="columns">
    <div class="column">
      <nav class="panel">
        <p class="panel-heading">
          Obligations
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search">
            <span class="icon is-small is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div *ngFor="let item of obligationsList | async">
          <a class="panel-block is-active has-icons-right control">
            {{item.biller}} || {{item.expectedAmount}} || {{item.dueDate}}
            <form #u="ngForm" (ngSubmit)="payNow(u,item)" *ngIf="!item.paid">
              <input class="input is-success short" type="text" placeholder="Amount Paid" ngModel name="amountPaid">
              <button class="button">PAY</button>
            </form>
            <button class="button" (click)="removeObligation(item)">DELETE</button>
            <button *ngIf="item.paid" class="button">PAID</button>
          </a>
        </div>
      </nav>
    </div>
    <div class="column">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="field">
          <label class="label">Add Obligation</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text"   placeholder="Who is the biller?"  name="biller" ngModel required #jonesy="ngModel">
            <input class="input is-success" type="date"   placeholder="What is the due date?"          name="dueDate"      ngModel required >
            <input class="input is-success" type="number"   placeholder="How much should it be?"       name="expectedAmount"    ngModel required >
          </div>
        </div>
        <button class="button">Submit</button>
      </form>
    </div>
  </div>
</div>

  <!-- <div class="content">
    <h1>Obligations Page Design</h1>
    <p>Obligations should be a list of all the monthly bills a person has. The Obligations total should be on the top. You should be able to click
        on any of the bills to get more details. I can find out how to do this by taking the routing course on Pluralsight. The details will show up in card to the right of the list.</p>
    <p>Obligations are future date based expenditures that cannot be ‘paid off’. They are recurring expenses, generally monthly, though some are quarterly, yearly or some other option. Obligations are lifestyle driven, most can be cancelled temporarily or permanently to reduce overall spend as desired/required. </p>
    <h2>Details Panel</h2>
    <p>Some of the options for the details panel should include </p>
    <ul>
      <li>Model - A way to simulate removing the bill from the list and show the ramifications of that towards the bottom line.</li>
      <li>Remove - Same as model but permanent. Should generate an unsubscribe link if possible</li>
    </ul>
    <h3>Dates</h3>
    <p>Very important for the obligations page are the dates due. Every obligation has an associated date</p>
    <ol>
      <li>Rent/Mortgage 1st.</li>
      <li>Cras gravida arcu at diam gravida gravida.</li>
      <li>Integer in volutpat libero.</li>
      <li>Donec a diam tellus.</li>
      <li>Aenean nec tortor orci.</li>
      <li>Quisque aliquam cursus urna, non bibendum massa viverra eget.</li>
      <li>Vivamus maximus ultricies pulvinar.</li>
    </ol>
    <blockquote>Every obligation due date that falls within an earnings range should be deducted from the earningsTotal for that same range automatically</blockquote>
    <p>Quisque at semper enim, eu hendrerit odio. Etiam auctor nisl et <em>justo sodales</em> elementum. Maecenas ultrices lacus quis neque consectetur, et lobortis nisi molestie.</p>
    <p>Sed sagittis enim ac tortor maximus rutrum. Nulla facilisi. Donec mattis vulputate risus in luctus. Maecenas vestibulum interdum commodo.</p>
    <dl>
      <dt>Web</dt>
      <dd>The part of the Internet that contains websites and web pages</dd>
      <dt>HTML</dt>
      <dd>A markup language for creating web pages</dd>
      <dt>CSS</dt>
      <dd>A technology to make HTML look better</dd>
    </dl>
    <p>Suspendisse egestas sapien non felis placerat elementum. Morbi tortor nisl, suscipit sed mi sit amet, mollis malesuada nulla. Nulla facilisi. Nullam ac erat ante.</p>
    <h4>Fourth level</h4>
    <p>Nulla efficitur eleifend nisi, sit amet bibendum sapien fringilla ac. Mauris euismod metus a tellus laoreet, at elementum ex efficitur.</p>
    <pre>
  &lt;!DOCTYPE html&gt;
  &lt;html&gt;
    &lt;head&gt;
      &lt;title&gt;Hello World&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra nec nulla vitae mollis.&lt;/p&gt;
    &lt;/body&gt;
  &lt;/html&gt;
  </pre>
    <p>Maecenas eleifend sollicitudin dui, faucibus sollicitudin augue cursus non. Ut finibus eleifend arcu ut vehicula. Mauris eu est maximus est porta condimentum in eu justo. Nulla id iaculis sapien.</p>
    <table>
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Three</td>
          <td>Four</td>
        </tr>
        <tr>
          <td>Five</td>
          <td>Six</td>
        </tr>
        <tr>
          <td>Seven</td>
          <td>Eight</td>
        </tr>
        <tr>
          <td>Nine</td>
          <td>Ten</td>
        </tr>
        <tr>
          <td>Eleven</td>
          <td>Twelve</td>
        </tr>
      </tbody>
    </table>
    <p>Phasellus porttitor enim id metus volutpat ultricies. Ut nisi nunc, blandit sed dapibus at, vestibulum in felis. Etiam iaculis lorem ac nibh bibendum rhoncus. Nam interdum efficitur ligula sit amet ullamcorper. Etiam tristique, leo vitae porta faucibus, mi lacus laoreet metus, at cursus leo est vel tellus. Sed ac posuere est. Nunc ultricies nunc neque, vitae ultricies ex sodales quis. Aliquam eu nibh in libero accumsan pulvinar. Nullam nec nisl placerat, pretium metus vel, euismod ipsum. Proin tempor cursus nisl vel condimentum. Nam pharetra varius metus non pellentesque.</p>
    <h5>Fifth level</h5>
    <p>Aliquam sagittis rhoncus vulputate. Cras non luctus sem, sed tincidunt ligula. Vestibulum at nunc elit. Praesent aliquet ligula mi, in luctus elit volutpat porta. Phasellus molestie diam vel nisi sodales, a eleifend augue laoreet. Sed nec eleifend justo. Nam et sollicitudin odio.</p>
    <figure>
      <img src="https://bulma.io/images/placeholders/256x256.png">
      <img src="https://bulma.io/images/placeholders/256x256.png">
      <figcaption>
        Figure 1: Some beautiful placeholders
      </figcaption>
    </figure>
  </div> -->
