<app-o-tracker></app-o-tracker>
<div class="container">
  <div class="content">
    <h1>Obligations</h1>
    <p>Obligations are future date based expenditures that cannot be ‘paid off’. They are recurring expenses, generally monthly, though some are quarterly, yearly or some other option.</p>
    <p>Obligations are lifestyle driven, many can be cancelled temporarily or permanently to reduce overall spend as desired/required. </p>
    <p>For example, cellular phone service. This can be reduced to near zero in a pinch through the use of prepaid phone plans etc</p>
    <p>There are several rolling calculations for Obligations calculations. The first is the total available to spend </p>
    <ul>
      <li>Income allocated to spend on Obligations for the month - obligationsTotal</li>
      <li>Total currently obligated - obligationsScheduledTotal</li>
      <li>Total spent so far for the month </li>
      <li>Remaining spend for the month</li>
    </ul>
    <p>Obligations is a list of all the monthly bills a person has. You should be able to click
        on any of the bills to get more details. The details will show up in card to the right of the list.</p>

  </div>
  <div class="columns">
    <div class="column">
      <nav class="panel">
        <p class="panel-heading">
          Obligations
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search">
            <span class="icon is-small is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div *ngFor="let item of obligationsList | async">
          <a class="panel-block is-active has-icons-right control">
            {{item.biller}} || {{item.expectedAmount}} || {{item.dueDate}}
            <form #u="ngForm" (ngSubmit)="payNow(u,item)" *ngIf="!item.paid">
              <input class="input is-success short" type="text" placeholder="Amount Paid" ngModel name="amountPaid">
              <button class="button">PAY</button>
            </form>
            <button class="button" (click)="removeObligation(item)">DELETE</button>
            <button *ngIf="item.paid" class="button">PAID</button>
          </a>
        </div>
      </nav>
    </div>
    <div class="column">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="field">
          <label class="label">Add Obligation</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text"   placeholder="Who is the biller?"  name="biller" ngModel required #jonesy="ngModel">
            <input class="input is-success" type="date"   placeholder="What is the due date?"          name="dueDate"      ngModel required >
            <input class="input is-success" type="number"   placeholder="How much should it be?"       name="expectedAmount"    ngModel required >
          </div>
        </div>
        <button class="button">Submit</button>
      </form>
    </div>
  </div>
</div>

  <!-- <div class="content">
    <h1>Obligations Page Design</h1>
    <p>Obligations should be a list of all the monthly bills a person has. The Obligations total should be on the top. You should be able to click
        on any of the bills to get more details. I can find out how to do this by taking the routing course on Pluralsight. The details will show up in card to the right of the list.</p>
    <p>Obligations are future date based expenditures that cannot be ‘paid off’. They are recurring expenses, generally monthly, though some are quarterly, yearly or some other option. Obligations are lifestyle driven, most can be cancelled temporarily or permanently to reduce overall spend as desired/required. </p>
    <h2>Details Panel</h2>
    <p>Some of the options for the details panel should include </p>
    <ul>
      <li>Model - A way to simulate removing the bill from the list and show the ramifications of that towards the bottom line.</li>
      <li>Remove - Same as model but permanent. Should generate an unsubscribe link if possible</li>
    </ul>
    <h3>Dates</h3>
    <p>Very important for the obligations page are the dates due. Every obligation has an associated date</p>
    <ol>
      <li>Rent/Mortgage 1st.</li>
    <blockquote>Every obligation due date that falls within an earnings range should be deducted from the earningsTotal for that same range automatically</blockquote>

     -->
