<div class="container">
  <div class="columns">
    <div class="column">
      <nav class="panel">
        <p class="panel-heading">
          Assets
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search">
            <span class="icon is-small is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div *ngFor="let item of assetsList$ | async">
          <a class="panel-block is-active has-icons-right control">
            {{item.biller}} || {{item.due_date}} || {{item.total_amount_due}}
            <button class="button" (click)="removeAsset(item)">DELETE</button>
          </a>
        </div>
      </nav>
    </div>
    <div class="column">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="field">
          <label class="label">Add Asset</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text"   placeholder="Biller"  name="biller" ngModel required  />
            <input class="input is-success" type="number" placeholder="Original Financed Amount"  name="original_financed_amount" ngModel required >
            <input class="input is-success" type="number" placeholder="Principal Balance"  name="principal_balance" ngModel required >
            <input class="input is-success" type="date"   placeholder="Due Date" name="due_date"   ngModel required >
            <input class="input is-success" type="number" placeholder="Past Due Amount"  name="past_due_amount" ngModel required >
            <input class="input is-success" type="number" placeholder="Total Amount Due"  name="total_amount_due" ngModel required >
            <input class="input is-success" type="number" placeholder="Interest Rate"  name="interest_rate" ngModel required >
            <input class="input is-success" type="number" placeholder="Payoff Amount"  name="payoff_amount" ngModel required >
          </div>
        </div>
        <button class="button">Submit</button>
      </form>
    </div>
  </div>
</div>
