<div class="container">
  <div class="columns">
    <div class="column">
      <nav class="panel">
        <p class="panel-heading">
          Assets
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search">
            <span class="icon is-small is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div *ngFor="let item of assetsList$ | async">
          <a class="panel-block is-active has-icons-right control">
            {{item.asset_denomination}} || {{item.balance}} || {{item.purchase_time_value}} || {{item.current_value}}
            <button class="button" (click)="removeAsset(item)">DELETE</button>
          </a>
        </div>
      </nav>
    </div>
    <div class="column">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="field">
          <label class="label">Add Asset</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text"   placeholder="Fiat, ETH, BTC, BCH etc"  name="asset_denomination" ngModel required  />
            <input class="input is-success" type="number" placeholder="Balance"  name="balance" ngModel required >
            <input class="input is-success" type="number" placeholder="Purchase Price Per Full Unit"  name="purchase_price_per_full_unit" ngModel required >
            <input class="input is-success" type="number"   placeholder="Current Price Per Full Unit" name="current_price_per_full_unit"   ngModel required >
          </div>
        </div>
        <button class="button">Submit</button>
      </form>
    </div>
  </div>
</div>
