$color1: hsla(0%, 0%, 78%, 1)
$color2: hsla(0%, 0%, 70%, 1)
$color3: hsla(56%, 24%, 65%, 1)
$color4: hsla(28%, 65%, 61%, 1)
$color5: hsla(270%, 3%, 14%, 1)
$color11: hsla(0%, 0%, 78%, 1)
$color12: hsla(0%, 0%, 70%, 1)
$color13: hsla(56%, 24%, 65%, 1)
$color14: hsla(28%, 65%, 61%, 1)
$color15: hsla(270%, 3%, 14%, 1)

.hero-body
  background: $color2
  color: $color1

.navbar-item
  color: $color1
  font-weight: bold

.messageclass
  color: $color15


.title
  color: $color1
