<!-- <section class="hero">
  <div class="hero-body">
    <div class="container">
    <h1 class="title">KING ME by House AKil</h1>
        <h2 class="subtitle">Lets get it together..</h2>
        <figure class="image is-1by1">
          <h1 class="title">KING ME by House AKil</h1>
          <h2 class="subtitle">Lets get it together..</h2>
          <img src="assets/img/kingme.jpg">
        </figure>
   </div>
  </div>
  <div class="hero-foot"></div>
</section> -->
<figure class="image is-1by1">
  <h1 class="title">KING ME by House AKil</h1>
  <h2 class="subtitle">Lets get it together..</h2>
  <img src="assets/img/kingme.jpg">
</figure>
