<app-nav></app-nav>

<app-tracker></app-tracker>

<nav class="level" *ngIf="auth.user | async as user">
  <p class="nav-item"><a routerLink="/obligations" class="link is-info">Obligations</a></p>
  <p class="nav-item"><a routerLink="/desires" class="link is-info is-success">Desires</a></p>
  <p class="nav-item"><a routerLink="/earnings" class="link is-info">Earnings</a></p>
  <p class="nav-item"><a routerLink="/debts" class="link is-info">Debts</a></p>
  <p class="nav-item"><a routerLink="/assets" class="link is-info">Assets</a></p>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
