<div class="container">
  <div class="columns">
    <div class="column">
      <nav class="panel">
        <p class="panel-heading">
          Earnings
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search">
            <span class="icon is-small is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
        </div>
        <div *ngFor="let item of earningsList | async">
          <a class="panel-block is-active has-icons-right control">
            {{item.source}} || {{item.amount}} || {{item.date}}
            <button class="button" (click)="removeEarning(item)">DELETE</button>
          </a>
        </div>
      </nav>
    </div>
    <div class="column">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="field">
          <label class="label">Add Earning</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text"   placeholder="Who is the source?"    name="source" ngModel required #jonesy="ngModel">
            <input class="input is-success" type="date"   placeholder="When was it received?" name="date"   ngModel required >
            <input class="input is-success" type="number" placeholder="How much was it?"      name="amount" ngModel required >
          </div>
        </div>
        <button class="button">Submit</button>
      </form>
    </div>
  </div>
</div>

