$color1: hsla(0%, 14%, 78%, 1);
$color2: hsla(39%, 42%, 87%, 1);
$color3: hsla(12%, 29%, 77%, 1);
$color4: hsla(358%, 24%, 52%, 1);
$color5: hsla(337%, 41%, 30%, 1);

.footer
    background: $color1
    color: $color3

a
    color: $color3
    font-weight: bold
