<app-d-tracker></app-d-tracker>
<div class="outside">
  <div class="container" >
    <div class="columns" >
      <div class="column is-half">
        <nav class="panel">
          <p class="panel-heading">Desires</p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <div *ngFor="let desire of desiresList | async">
            <a routerLinkActive="active" [routerLink]="['/desires', desire.id]" class="panel-block is-active has-icons-right control">
              {{desire.name}} || {{desire.amount}} || {{desire.recipient}}
              <button class="button" (click)="removeDesire(desire)">DELETE</button>
              <button class="button" (click)="doNow(desire)">DO NOW</button>
            </a>
          </div>
        </nav>
      </div>
      <div class="column">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="field">
            <label class="label">Add Desire</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text"   placeholder="Who is the desire for?"  name="recipient" ngModel required #jonesy="ngModel">
              <input class="input is-success" type="text"   placeholder="Name of Desire"          name="name"      ngModel required >
              <input class="input is-success" type="text"   placeholder="Additional Detail"       name="detail"    ngModel required >
              <input class="input is-success" type="number"   placeholder="Expected Cost of Desire" name="amount"    ngModel required >
            </div>
          </div>
          <button class="button">Submit</button>
        </form>
      </div>
    <div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <div class="card">
    <div class="card-content">
      <p class="title">
        “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
      </p>
      <p class="subtitle">
        Jeff Atwood
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          Share on <a href="#">Facebook</a>
        </span>
      </p>
    </footer>
  </div> -->


