$color1: hsl(229%, 28%, 43%);
$color2: hsl(0%, 0%, 100%);
$color3: hsl(34%, 91%, 75%);
$color4: hsl(32%, 96%, 67%);
$color5: hsl(23%, 100%, 63%);

.button
  background: none;
  border: none;
  color: $color4;
  font-family: 'Strait', sans-serif;
  font-size: 24px;
