<div *ngIf="auth.user | async; then authenticated else guest">
</div>

<ng-template #guest>
    <!-- <div class="money-button"
    data-to="qrdtukg9cdyxfe55rwpy5t04jefnezerfgcv72lp9z"
    data-amount="0.10"
    data-currency="USD"
    data-label="Purchase access"
    data-hide-amount="undefined"
    data-client-identifier="e7a8ed87aa1f6eb2d9a2d4a1b3a44979"
    data-button-id="1537648282217"
    data-button-data="{}"
    data-type="tip"
  ></div> -->
  <button class="button navbar-item" (click)="auth.googleLogin()">Login</button>
</ng-template>

<ng-template #authenticated>
  <div class="navbar-item" *ngIf="auth.user | async as user">
    <!-- <p class="button navbar-item"></p> -->
    <button class="button navbar-item" (click)="auth.logout()"> {{ user.displayName }} Logout</button>
  </div>
</ng-template>
